{% extends "base.html" %}

{% block title %}Student Event Approval{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1>Student Approval</h1>

{%  if pending_event_students %}
    <table class="table">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

        {% for pending_event_student in pending_event_students %}
            {% set user = User.query.filter_by(id = pending_event_student.user_id).first() %}
                <tr>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.email}}</td>
                <td>
                    <form method="POST" action="{{ url_for('auth.approve_event_students', user_id=pending_event_student.user_id) }}" class="d-inline">
                     <input type="hidden" name="action" value="approve">
                     <button type="submit" class="btn-success">Approve Student</button>
                    </form>
                    <form method="POST" action="{{ url_for('auth.approve_event_students', user_id=pending_event_student.user_id) }}" class="d-inline">
                        <input type="hidden" name="action" value="deny">
                        <button type="submit" class="btn-danger">Deny Student</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class ="alert alert-danger" role="alert">No event applications.</div>
{% endif %}
</div>

{% endblock %}
