{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    {% if user.user_type == 'admin' %}
{#        {% include 'user_approval.html' %}#}
    {% elif user.user_type == 'pending' %}
        <p>Your account is pending approval.</p>
    {% elif user.user_type == 'coordinator' %}
        <h1> Welcome Coordinator </h1>
    {% else %}
        <!-- Homepage for users -->
        <!-- Add All user code here -->
        <!-- notes code -->
       <h4>Homepage</h4>
    {% endif %}
{% endblock %}
