{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo&display=swap">

<style>
    body {
        background-color: #f8f9fa;
        background-image: url('https://images.pexels.com/photos/47343/the-ball-stadion-horn-corner-47343.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); /* Change the URL to your image */
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }
    .welcome-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        text-align: center;
        padding: 20vh 10%;
    }
    .container {
        max-width: 600px;
        margin: 0 auto;
    }
    .welcome-message {
        font-size: 72px;
        font-weight: bold;
        color: beige;
        font-family: 'Bebas Neue', sans-serif;
        margin-bottom: 20px;
    }
    .explore-message {
        font-size: 24px;
        color: beige;
        font-family: 'Bebas Neue', sans-serif;
        margin-bottom: 40px;
    }
    .club-list {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .club-item {
        margin-bottom: 20px;
    }
</style>

<div class="welcome-section">
    <div class="container">
        <h1 class="welcome-message">Welcome to Clubhub!</h1>
        <p class="explore-message">Explore our clubs and discover your next passion!</p>
    </div>
    <div class="club-list">
        <h4>Clubs You've Been Accepted To</h4>
        <ul class="club-items">
            {% for club in clubs %}
                <li class="club-item">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{{ club.club_name }}</h2>
                            <p class="card-text">{{ club.club_description }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
