{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    {% if user.user_type == 'admin' %}
        {# {% include 'user_approval.html' %} #}
    {% elif user.user_type == 'pending' %}
        <p>Your account is pending approval.</p>
    {% elif user.user_type == 'coordinator' %}
        <h1>Welcome Coordinator</h1>
    {% else %}
        <div class="row">
            <div class="col-md-8">
                <h4>Homepage</h4>
                <!-- Add your main content here -->
            </div>
            <div class="col-md-4">
                <h4>Clubs You've Been Accepted To</h4>
                <ul>
                    {% for club in clubs %}
                        <div class="card mb-3">
                           <div class="card-body">
                                <h2 class="card-title">{{ club.club_name }}</h2>
                               <p class="card-text">{{ club.club_description }}</p>
                           </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
