{% extends "base.html" %}

{% block title %}Users List{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h1>Members List</h1>
      <ul class="list-group">
        {% for user in users %}
        <li class="list-group-item">
          {{ user.first_name }} {{ user.last_name }} - {{ user.email }} - TYPE: {{ user.user_type }} (ID: {{ user.id }})
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}